.custom_box{
    height: 100vh;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
.custom_header{
    height: 72px;
    margin: 0 -20px;
    padding:0 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.custom_content{
    flex: 1 1 0%;
    padding: 20px;
    box-sizing: border-box;
    // background:#fff;
}