.icon_box {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background: rgba(255, 77, 79, 0.1);
    border-radius: 4px;
    :global {
      .icon {
        color: #ff4d4f;
      }
    }
  }
}
