@import '~antd/es/style/variable.less';
@import './assets/iconfont/iconfont.css';
html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}
.ant-pro-sider-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  margin-bottom: 20px;
  padding: 0;
  line-height: 72px;
  border-bottom: 1px solid #eaeaea;
  img {
    // width: 140px;
    height: 40px;
  }
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
// @media screen and(min-width:360px) {
.ant-layout {
  > div {
    &:first-child {
      flex: 0 0 220px !important;
      width: 220px !important;
      min-width: 220px !important;
      max-width: 220px !important;
    }
  }
}
.ant-layout-sider {
  flex: 0 0 220px !important;
  width: 220px !important;
  min-width: 220px !important;
  max-width: 220px !important;
}
// .ant-menu-inline-collapsed {
//   width: auto !important;
// }
// }
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
  background-color: #dddddd !important;
  /* 关键代码 */
  // background-image: -webkit-linear-gradient(
  //   45deg,
  //   rgba(255, 255, 255, 0.4) 25%,
  //   transparent 25%,
  //   transparent 50%,
  //   rgba(255, 255, 255, 0.4) 50%,
  //   rgba(255, 255, 255, 0.4) 75%,
  //   transparent 75%,
  //   transparent
  // ) !important;
  border-radius: 32px !important;
  // visibility: hidden;
  // &:hover {
  //   visibility: visible;
  // }
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 32px !important;
  // opacity: 0.5;
}
// #####菜单-----start
.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 48px !important;
  line-height: 48px !important;
}
.ant-menu-submenu-title > .ant-menu-title-content {
  padding-left: 22px !important;
}
.ant-menu-item {
  border-radius: 6px 0px 0px 6px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #1890ff;
  transition: 0.3s;
  .ant-pro-menu-item-title::before {
    background: #fff;
  }
  .ant-pro-menu-item-title {
    color: #fff;
  }
  &::after {
    border: 0;
  }
}
.ant-menu-item a::before {
  display: none !important;
}
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background: transparent !important;
}
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #1890ff;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 4px;
  bottom: 0;
  width: 4px;
  height: 32px;
  margin: auto;
  background: #ffffff;
  border-radius: 4px 0px 0px 4px;
  content: '';
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  position: relative;
  left: 21px;
  width: calc(100% - 19px);
}
.ant-pro-menu-item-title {
  font-weight: 700;
  font-size: 14px;
}
.ant-menu-item .ant-pro-menu-item-title {
  display: flex;
  align-items: center;
  // color: #333;
  // font-weight: 700;
  // font-size: 14px;
  color: #333;
  border-radius: 6px 0px 0px 6px;
  &::before {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 17px 0 7px;
    // vertical-align: middle;
    background: #ccc;
    border-radius: 50%;
    content: '';
  }
}
.menu_item_dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 9px 0 7px;
  background: #ccc;
  border-radius: 50%;
}
.menu_item_span {
  color: #333;
  font-weight: 700;
  font-size: 14px;
}
.ant-menu {
  color: #333;
}
.ant-menu-submenu-title .anticon {
  margin-top: -4px !important;
  font-size: 20px;
}

// #####菜单-----end
// #####表格-----start
.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not(
    [colspan]
  )::before {
  display: none;
}
.ant-table-thead > tr > th {
  color: #333;
  font-weight: 700;
  font-size: 14px;
  background-color: #f8f8f8;
  border-color: #eaeaea;
}
.ant-table-wrapper {
  height: 100%;
  .ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
      height: 100%;
      .ant-table {
        height: calc(100% - 64px);
        .ant-table-container {
          height: 100%;
        }
      }
    }
  }
}
// #####表格-----end

// #####表单-----start
.ant-form-large .ant-form-item-label > label {
  height: 20px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  padding-bottom: 10px;
}
.ant-input,
.ant-input-affix-wrapper {
  border-color: #ddd;
  border-radius: 6px;
}
textarea.ant-input {
  max-height: 100%;
}
.ant-form-item {
  margin-bottom: 20px;
}
.ant-form-item-explain-error {
  font-size: 12px;
}
.ant-select-selector {
  border-radius: 6px !important;
}
.ant-picker-range {
  border-radius: 6px;
}
// #####表单-----end
// #####下拉菜单-----start
.dropMinWidth {
  .ant-dropdown-menu {
    min-width: 100px;
  }
}
// #####下拉菜单-----end
.anticon {
  margin-top: -15% !important;
  vertical-align: middle;
}

.ant-message .anticon {
  margin-top: -4px !important;
}

.ant-collapse-header .anticon {
  top: 0;
  bottom: 0;
  margin: auto !important;
  transform: translateY(-30%) !important  ;
}
.ant-image-img {
  object-fit: cover;
}
